/*
	主界面
*/
*{
	padding:0;margin:0px;list-style:none;list-style-type:none;
	font-family: 宋体,Simsun;
}
html,body{
	height:100%;
}

img{
	border: 0;
}

#top
{
	width:100%;height:80px;
	background:url(../images/top.png) no-repeat 0 0;
	border-bottom:2px solid #25abf3;
	background-size:cover;
}
#left_center
{
	position:absolute;
	left:0px;
	width:100%;
	height: 100%;
	overflow:hidden;
    font-size: 12px;
    z-index: 0;
}
#btn_del
{
	display: none;
}
#left
{	
	position:absolute;
	left:0px;top:0px;
	height:100%;
	width:358px;
	border-right:1px solid #B5AFAF;
}
#center
{
	position:absolute;
	left:359px;
	top:0px;
	height:100%;
}
#i_lh{
	height: 55px;
    width: 205px;
	font-size: 20px;
}
#btn_u{
	height: 35px;
    width: 210px;
}
.main_detail{
	height: 150px;
    width: 270px;
	overflow-y: scroll;
}
.gridtable {  
    font-family: verdana,arial,sans-serif;  
    font-size:11px;  
    color:#333333;  
    border-width: 1px;  
    border-color: #666666;  
    border-collapse: collapse;  
}  
.gridtable th {  
    border-width: 1px;  
    padding: 8px;  
    border-style: solid;  
    border-color: #666666;  
    background-color: #dedede;  
}  
.gridtable td {  
    border-width: 1px;  
    padding: 8px;  
    border-style: solid;  
    border-color: #666666;  
    background-color: #ffffff;  
} 

/*
Openlayers样式修改
*/
/*.olControlScaleLine 
{
	color:black;
	font-weight:bold;
	bottom:5px !important;
}*/
 .olControlZoom{display:none;}.olImageLoadError{display:none !important;}

.olMap{background-image:none !important;background-color: #F1F1F1 !important;  }

/*
    右键DIV
*/
#rightDiv
{
	position:absolute;

	display:none;
 
 
	color:black;
	z-index:10001;
	
padding: 5px 5px 0 0;

width: 117px;
height: 127px;
top:100px;
left:300px;

background: url(../images/rightTool.png) no-repeat;
}
#rightDiv li
{
	height:17px;
	font-size:12px;
	padding:2px 6px;
	line-height: 17px;
	cursor:pointer;
}
.splitline{
border-top:solid #adbfe4 1px;
border-bottom:solid #adbfe4 1px; 
padding:3px 0;
}
#rightDiv li:hover
{
	color:#0084ff;
	
}
/*
	审图号
*/
#bottomBar
{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:16px;
	background:black;
	z-index:1000;
	filter:alpha(opacity=50);  
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}
/*#scaleDiv
{
	position:absolute;
	left:5px;
	bottom:16px;
	width:150px;
	height:32px;
	z-index:10000;
}*/
#remark
{
	position:absolute;width:100%;height:auto;bottom:0px;text-align:left;z-index:1000;font-size:12px;color:white;left:5px;
}
/*
	经纬度坐标
*/
#mousePositon
{
	position:absolute;right:20px;bottom:0px;z-index:1003;color:white;
}
/*
影像获取信息
*/
#img_source
{
	position:absolute;
	width: 160px;
	right:200px;
	bottom:0px;
	color:white;
	display:none;
	z-index:10000;
}
#img_source_div1
{
	display:none;
	background:#f8fbfd;
	color:black;
}
#img_source_div2
{
	color:white;
	cursor:pointer;
	display:block;
}
#img_source_p1
{
	width:150px;
	height:20px;
	line-height:20px;
	border-bottom:1px solid blue;
	margin-left:5px;
	margin-bottom:2px;
}
#img_source_p2
{
	width:150px;
	height:20px;
	line-height:20px;
	border-bottom:1px solid blue;
	margin-left:5px;
	margin-bottom:2px;
}
#img_source li
{
	cursor:pointer;
	width:160px;
	height:22px;
}
#img_source li:hover
{
	background:gray;
}
#img_source li input
{
	float:left;
	margin: 4px;
}
#img_source li p
{
	height:22px;
	line-height:22px;
}
#zoombar_png
{
	position:absolute;
	top:114px;
	left:23px;
	width:6px;
	height:122px;
	background:url(../images/zoombar_png.png) no-repeat center;
	z-index:1000;
}
.btnToolbar
{
    float: right;
    margin-left: 12px;
    text-align: right;
    list-style: none;
    line-height: 24px;
    height: 24px;
    width: 88px;
    cursor: pointer;
    color: #046abe;
    margin-right: 20px;
}
.btnToolbar:hover
{
	background-color: #00c8ff;
}
.btnToolbar .btnToolbar-cont{
	padding-left: 21px;
	position: relative;float:left;
	line-height:24px;height:24px;margin:0 3px;
}
.btnToolbar .btnToolbar-cont1{
	padding-left: 21px;
	position: relative;float:left;
	line-height:26px;height:26px;
}
.btnToolbar .btnToolbar-img{
	background:url(../images/ToolBar/toolbar.png) no-repeat 0px 0px;
	width:16px;height:20px;
	position:absolute;top:4px;left:-2px;
}
.toolbagClass
{
	margin-left: 8px;
	width:45px;
	height:26px;
}
.toolbagClass:hover
{
	color:red;
}
#btnSearchExtent
{
	width:82px;background:url(../images/ToolBar/tool_search.png) no-repeat left;z-index:-1;
}
#textlist
{
	position:absolute;
	top:65px;
	left:15px;
	width:250px;
	height:auto;
	background:white;
}
.textlistitem
{
	height:20px;
	margin-left:10px;
	line-height:20px;
	font-size:12px;
	cursor:pointer;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
#textlistclose
{
	margin-left:200px;
	width:30px;
	height:20px;
	cursor:pointer;
}
.textlistitem:hover
{
	background:gray;
}


/**
 * 视野内搜索 
 * begin
 */
#searchExtent{	
	width:230px;height:140px;border: 1px solid #dcdcdc;line-height:15px;
	background:white;z-index:100;cursor:default;display:none;overflow:hidden;
}
#search_extent_title{
	height:25px;line-height:25px;font-size:12px;font-weight:bold;color:#4c4c4c;
	background: #f9f9f9;border-bottom: 1px solid #dadada;text-align: left;padding-left: 7px;
}
#searchExtentClose{
	width:24px;height:24px;margin-top:-25px;cursor:pointer;float:right;border:none;
	background:url(../images/ToolBar/close.png) no-repeat center;	
}

#searchExtent2 {height:100px;padding:7px;}
#searchExtent1 {display:none;z-index:-1;}
.searchExtentItem{float:left;color:#046abe;cursor:pointer;margin:5px;}
.searchExtentItem:hover{text-decoration:underline;}
#searchExtentText {width:170px;height:19px;line-height:19px;margin-left:4px;float:left;}
#searchExtentTextBtn {float:right;width:35px;height:21px;border:1px solid gray;background:transparent;}
#searchExtentChangeBtn {height:30px;line-height:30px;margin-right:5px;cursor:pointer;}
#searchExtentChangeText {height:30px;line-height:30px;margin-left: 10px;color:black;float:left;}
/**
 * 视野内搜索 
 * end
 */

.transparent_toolbar
{  
	 position:absolute;top:0;right:0px;width:100%;height:32px;z-index:1000;
	 background:url(../images/ToolBar/toolbar_bg.png) repeat-x 0 0;
} 
/*
	左侧面板样式
*/
#tab_search
{
	width:101px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	text-align:center;
	background:url(../images/leftDiv/combg.png) repeat-x 0px -46px;
	float:left;
}
#tab_gps
{
	box-sizing:border-box;
	width:101px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	background:url(../images/leftDiv/combg.png) repeat-x -400px -46px;
	float:left;
}
#tab_gps_div
{
	display:none;
}


.poisearch_result_head{margin: 0 0 0 20px;height:30px;color:#3b9cfe;font-weight:bold;font-size:14px;position: relative;}
.poisearch_result_return{margin-left:203px;margin-top:-15px;height:21px; width:65px;background-color:#b2b2b2;border:none;cursor:pointer;display:inline-block; line-height:21px;color:#ffffff;vertical-align:middle;}
.poisearch_list{overflow:auto;color:blue;width:100%;top:70px;bottom:50px;position:absolute;}
.poisearch_list ul li{background-color:#ffffff; }
.poisearch_list ul li:hover{background-color:#ececec;  }


#left_query_text
{
	width:228px;
	height: 26px;
	line-height: 26px;
	float:left;
	margin-left:15px;
	margin-top: 8px;
	border: #b3b3b3 solid 1px;
	border-right:none;
}
#left_query_btn
{
	float:left;
	margin-top: 8px;
	margin-left: -1px;
	width:45px;
	height:35px;
	cursor:pointer;
	border:none;
	background:url(../images/leftDiv/combg.png) no-repeat -225px -89px;
}

#left_fenlei_div ul li
{
	margin:5px;
	width:50px;
	height:70px;
	cursor:pointer;
	float:left;
	color:gray;
	font-size:12px;
	font-weight: normal;
	text-align:center;
	line-height:18px;
}
#left_fenlei_div ul li:hover
{
	font-weight:bold;
	color:#0084ff;
}
.fenleiClass img{
	background:url(../images/leftDiv/combg.png) no-repeat 0 0;
	width:40px;height:40px;margin:0 5px 5px 0;
}

#fenlei_bg img { background-position:0 -5px; }
#fenlei_cy img { background-position:-46px -5px; }
#fenlei_sd img { background-position:-92px -5px; }
#fenlei_cs img { background-position:-140px -5px; }
#fenlei_yh img { background-position:-185px -5px; }
#fenlei_atm img { background-position:-230px -5px; }
#fenlei_yy img { background-position:-276px -5px; }
#fenlei_xx img { background-position:-324px -5px; }
#fenlei_yd img { background-position:-415px -5px; }
#fenlei_jyz img { background-position:-370px -5px; }

#left_text
{
	font-size:12px;
	width:300px;
	height:270px;
	overflow-y:auto;
}

#resultCount
{
	width:278px;height:30px;
	line-height:30px;
	margin-left:10px;color:#ff0000;
	border:0;border-top:#e5e5e5 solid 1px;
}

.itemClass
{
	line-height: 18px;
	cursor:pointer;padding:5px 5px 5px 10px;
	border-bottom:1px solid #d2e7f8;
}
.itemClass:hover
{
	background:white;
}
.itemClass div
{
	float:left;
	width:40px;
	height:40px;
	border:0;
}
.itemClass .pName{ color:#2d8eec; padding-right: 50px;}
.itemClass .pName:hover{ text-decoration:underline;}

.itemClass .pAddress_Phone
{
	margin-left: 40px;
	color:#3e3e3e;
}

.itemClass .itemIcon{width:23px;height:25px;background:url(../images/leftDiv/iconnos.png) no-repeat;}

.itemClass .pDistance{float:right;margin-top:-20px;color:#3e3e3e;padding-right:4px;}
.itemClass .pBottom{height:20px;overflow:hidden;clear:both;}
.itemClass .poi_correct{padding-right:4px;float:right;}
.itemClass .correct_jiu{height: 12px;margin: -2px 3px 0 0;vertical-align: middle;width: 13px;}
.itemClass .poi_correct:hover{ text-decoration:underline;}

.poi_tip_name{font:14px/25px arial;color:#000;}
.poi_tip_name b{font:14px/25px arial;font-weight: bold;}
.poi_tip_district{font-size:13px;color:silver;padding-right: 10px;}

/*路径导航*/
.route_radio{ margin-left:30px;line-height:30px; }
.route_radio span{ margin:5px 8px;}
.route_switch{width:30px;text-align: center;vertical-align: middle;position:absolute;top: 50%;display:inline-block; margin-top:-17px;}
.route_switch input{ width: 26px;height: 26px;background: url(../images/leftDiv/combg.png) no-repeat 0 -86px;
	cursor:pointer; margin-top: auto;margin-bottom: auto;border: 0;background-color: transparent;}
.route_search_box{ position:relative;width:260px;margin-left:33px; }
.route_search_box p{ position:relative; }
.route_input{line-height: 30px;}
.route_input img{width:10px;height:10px;background: url(../images/leftDiv/combg.png) no-repeat -127px -88px;}
.route_input_start img{}
.route_input_end img{background-position: -137px -88px;}

.route_textInput{ height:26px;line-height: 26px; margin: 5px 0 5px 5px;vertical-align: middle;border: 0;border-bottom: #e5e5e5 solid 1px;}

.route_draw {width:26px;height:26px;cursor:pointer;border:0;vertical-align: middle;margin-left:3px;background: url(../images/leftDiv/combg.png) no-repeat 0 0;}
.route_draw_start {background-position: -28px -90px;}
.route_draw_end {background-position: -54px -90px;}
.route_draw_mid {width:14px;height:20px;margin-left:5px;background-position: -170px -88px;}
.route_draw_delete {width:12px;height:12px;margin-left:8px;background-position: -272px -85px;}

.route_btn{height:28px; width:86px;cursor:pointer;background-color:#3b9cfe;border:none; display:inline-block; line-height:28px;color:#ffffff;vertical-align:middle;margin-right:5px;}
a.route_btn:link,a.route_btn:visited{color:#ffffff;}
.route_btn:hover{ background-color:#3bc0fe; }
.route_btn img{width:16px;height:24px;background: url(../images/leftDiv/combg.png) no-repeat 0 0;margin:0 7px;vertical-align:middle;}

.route_result_distance{height:40px;vertical-align:middle;line-height:40px;margin-left:20px;color:#ff0000;display:none;}

#pathListdiv ul li {
    line-height: 25px;
    margin-left: 10px;
    padding-top: 5px;
    display: block;
}
#pathListdiv ul li:hover {
    background-color: #e5e4e9;
}
#pathListdiv .bm {
clear: both;
border-bottom: 1px dashed #C5C5C5;
}

#place_ws{
    z-index: 100;display: none;min-width: 180px;background-color: white;border: 1px solid #6fb7b7; height: auto;position: absolute;top: 46px;left:55px
}

#place_ws_ul{
    list-style-type: none;
    
}
#place_ws_ul li {
    white-space: nowrap;
    display: block;
     line-height: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
#place_ws_ul span {
    font-weight: lighter;
    padding-left: 12px;
}
 
#place_ws_ul li:hover {
 background-color: #c5c5c5;
}


.buttonPage
{
	width:25px;
	margin-left:2px;
	margin-right:2px;
}
#pageIDS
{
	margin-left:2px;
	margin-right:2px;
}
#pageIDX
{
	margin-left:2px;
	margin-right:2px;
	padding:0px;
}
#firstID
{
	margin-left:2px;
	margin-right:2px;
}
#item button:hover
{
	color:red;
	text-decoration:underline;
	cursor:pointer;
}
#image_vector
{
	position:absolute;width:50px;height:50px;top:40px;right:20px;cursor:pointer;border:2px solid white;z-index:1000;
}
#img_year_div
{
 position:absolute;left:63px;top:30px;width:63px;font-size:12px;border:black solid 1px;
 background-image:url(../images/ToolBar/toolbar_bg1.png); display:none;
}
.radioYear
{
	width:45px;margin-top:10px;cursor:pointer;
}
#img_year_number
{
	width:63px;line-height: 24px;
}
.number_year
{
	font-weight:bold;width:100%;height:24px; margin-top:8px; color:#48494A;
}
.number_year:hover{ background-color:#62AFFD; color:White; }
.number_year.active
{
	background-color:#62affd; color:White;
}
.switch_zj{ color:#48494A; font-weight:bold; margin-top:10px; margin-bottom:5px; }
.switch_zj input { vertical-align:text-top; margin-right:8px;}
#left_hidden
{
	position:absolute;
	left:-1px;top:250px;
	width:17px;
	height:66px;
	cursor:pointer;
	background:url(../images/leftDiv/show_hidden.png) no-repeat 0px center;
	z-index:1000;
}
#left_hidden.show
{
	background:url(../images/leftDiv/show_hidden.png) no-repeat -17px center;
}


#vec_img
{
	position:absolute;top:3px;left:10px;width:126px;height:22px;line-height:22px;text-align:center;background-color: #ffffff;color:#4c4c4c;
	cursor:pointer;
}
#vec_
{
	position:absolute;top:0px;left:0px;width:63px;height:22px;line-height:22px;border: #c9c9c9 solid 1px;border-right:none;
}
#vec_.active
{
	position:absolute;top:0px;left:0px;width:63px;height:22px;line-height:22px;background-color: #43ADEB;border:#43ADEB solid 1px;color:#ffffff;
}
#img_
{
	position:absolute;top:0px;left:63px;width:63px;height:22px;line-height:22px;border: #c9c9c9 solid 1px;border-left:none;
}
#img_.active
{
	position:absolute;top:0px;left:63px;width:63px;height:22px;line-height:22px;background-color: #43ADEB;border:#43ADEB solid 1px;color:#ffffff;
}

/**
 *	行政定位
 *
 */

#dict
{
	position:absolute;top:0px;left:146px;width:185px;height:32px;z-index:10000;line-height:32px;background:url(../images/ToolBar/home.png) no-repeat left;
}
#dict_text
{
	position:absolute;left:20px;top:0px;height:30px;
	cursor:pointer;
	color:#4c4c4c;
	padding-right:15px;
	background: url(../images/ToolBar/dict_show.png) no-repeat right;
	
}
#dictInfo
{
	position:relative;
	width:21px;height:28px;cursor:pointer;
	background:url(../images/ToolBar/information.png) no-repeat center;
	display:none;
}
#dictInfoDiv
{
	position:absolute;top:28px;left:0px;width:300px;background:white;border:1px solid gray;line-height:1.4;
	padding:5px 10px;
	cursor:default;
	display:none;
}
#dictInfoTitle
{
	color:#046abe;border:0;border-bottom: #e5e5e5 solid 1px;
	font-weight:bold;font-size:13px;height:25px;line-height:25px;
}
#dictInfoClose
{
	position:absolute;right:0px;top:5px;width:20px;height:20px;background:url(../images/ToolBar/close2.png) no-repeat center;
	cursor:pointer;
}
#dictInfoText
{
	margin-bottom:0px;padding-top:5px;
	height:auto;line-height:17px;
}
#dictDiv
{
	position:absolute;top:30px;left:0px;
	width:360px;height:310px;display:block;background:white;border:1px solid #dcdcdc;display:none;overflow:hidden;
}
#dict_list_title{
	padding: 5px 8px 5px 10px;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px #dfddde solid;
	overflow: hidden;
}
#dict_item
{
	width:340px;height:240px;display:block;background:white;overflow:auto; padding: 10px;
}
#dict_close
{
	width:20px;height:20px;background:url(../images/ToolBar/close.png) no-repeat center;cursor:pointer;
	float:right;
}
#dict_ul a:hover
{
	color:red;
	cursor:pointer;
}
 #dict_ul a.xian {
     margin: 0 3px;
 }
 
.sheng
{
	width:60px;height:20px;font-size:14px;font-weight:bold;cursor:pointer;float:left;
}
.sheng:hover
{
	color:red;
}
.xian
{
	width:30px;height:20px;color:#046abe;font-size:12px;line-height:2;
}

/**
*
*  资源目录
*
*
*/
#tab_resource
{
	box-sizing:border-box;
	width:101px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	text-align:center;
	background:url(../images/leftDiv/combg.png) repeat-x -498px -46px;
	float:left;
}

#tab_resource_div
{	
	margin-top:0px;
	height:100%;
	width:303px;
}

/* 左边面板 */
.tab_resource_title{ 
	height:30px; line-height:30px; 
	border-bottom:#cccccc solid 1px;
	margin: 10px 5px 0 10px;
	/*background:url(../images/resourcelist/tabtitle.png) repeat -1px center; color:White; */
}
.tab_resource_title p {margin-left:13px; float:left; font-weight:bold; font-size:14px;color:#3b9cfe;}
.tab_resource_title span {float:right; margin-right:8px; }
.tab_resource_title span a {color:#8a8a8a; text-decoration:none; }
.resource_detail{color:#3f3e3e; margin-bottom:15px;line-height: 20px;}

#pub_tc_tree{margin: 10px 0 5px 15px;overflow:auto;}

.btnSmall{
    height:23px;
    width:52px;
    background-color:#3b9cfe;
    border:none;
    display:inline-block;
    line-height:23px;
    text-align:center;
    vertical-align:middle;
    color:#ffffff;
}
a.btnSmall:link,a.btnSmall:visited{
    color:#ffffff;
}

.btnSmall:hover{
    background-color:#3bc0fe;
    text-decoration:none;
}

.btnBig{
    height:23px;
    width:70px;
    background:url(../images/btnbg.png) no-repeat 0 -26px;
    border:none;
     display:inline-block;
    line-height:23px;
    text-align:center;
    color:#000;
}

a.btnBig:link,a.btnBig:visited{
    color:#000;
}

.btnBig:hover{
    background-position:-72px -26px;
}

.commonbtn{
    height:26px;
    width:77px;
    background-color:#3b9cfe;
    border:none;
    display:inline-block;
    line-height:26px;
    text-align:center;
    color:#ffffff;
}

a.commonbtn:link,a.commonbtn:visited{
    color:#ffffff;
}

.commonbtn:hover{
    background-color:#3bc0fe;
}
/* contrast*/
.C_d_mark
{
 position: absolute;top: 2px;left: 10px;z-index: 9999; display:none
    }
 .C_d_mark_li
 {
cursor: pointer;float: left;line-height: 30px; width:70px; color:#046abe;}  
 .C_d_mark_li_clear
 {
cursor: pointer;float: left;line-height: 30px; width:70px; color:#046abe;}  
  .C_d_mark div{ width:22px; height:22px; float:left; margin-top:4px;}
     .lc{position:absolute; width:168px;z-index:1000; display:none; top:35px}
#m_point{background:url(../images/contrast/contrast.png) no-repeat center;background-position:0px 0px;}
#m_line{ background:url(../images/contrast/contrast.png) no-repeat center;background-position:-22px 0px;}
#m_poly{ background:url(../images/contrast/contrast.png) no-repeat center;background-position:-44px 0px;}
#m_clear{background:url(../images/contrast/contrast.png) no-repeat center;background-position:-66px 0px;}
.c_list_ul{margin-top: 3px;margin-bottom: 3px;}
.c_list_ul li{ text-align:center;cursor:pointer; height:20px; line-height:20px}
.c_list_ul li.active{ text-align:center; font-weight:bold; cursor:pointer; height:24px; line-height:24px; width:130%; margin-left:-7px;
                      background:url(../images/contrast/contrast.png) no-repeat center;background-position:0px -22px;color:White;}
#Lc_1{margin-left:107px;border:solid 1px #B4B1B4;background-color:#ffffff;width:65px}
#Lc_0{float:left;border:solid 1px #B4B1B4; background-color:#ffffff; width:65px}
.d_radio{display:none; border-top:1px #C9C0C0 solid;}
.shiny-blue {
  background-color: #49ACFE;
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 48px; cursor:pointer; height:22px;  }
.div_list
{ background:url(../images/contrast/contrast.png)  center;background-position:-109px -6px;
 width: 20px;
 height: 10px;
 float: left;
 margin-top: 5px;
    }
    .div_list.active
{ background:url(../images/contrast/contrast.png)  center;background-position:-89px -5px;
  width: 20px; color:Red;
 height: 10px;
 float: left;
 margin-top: 5px;
    }
.ul_list{ width:65px; position:absolute; top:60px;line-height:22px}
.contrast_hr{width:0px; height:95%;border-left:1px #C9C0C0  solid; margin-left:9px;}
.contrast_li{ cursor:pointer; font-family: cursive}
.contrast_li.active{cursor:pointer;color:#37A4EC; font-weight:bold}


#tab_resource_identi{float: left;margin-left: 48px;color: #8a8a8a;}
#tab_resource_identi>input{vertical-align: middle;margin-right: 3px;margin-top: -2px;}
.title
{
    bottom: 0;
    width: 100%;
    padding: 6px 0;
    color: #fff;
    text-indent: 10px;
    background:#43ADEB;
	background-repeat: repeat;
    z-index: 2;
    font: 14px/2 "Microsoft YaHei" , "Arial" , "Tahoma";

}
#img_js
{
	background:url(../images/yuye/js.png);
	width: 32px;
	height: 32px;
	margin-left: 30px;
	float: left;
}
#img_list
{
	background:url(../images/yuye/list.png);
	width: 32px;
	height: 32px;
	margin-left: 30px;
	float: left;
}
.d_query
{
	padding-top: 10px;
    padding-left: 2%;
}
.d_item
{
	height: 27px;
}
.d_item p
{
	float: left;
    width: 68px;
	margin: 0px 0px 0px 3px;
	line-height: 20px;
}
.d_item input
{
	float: left;
    width: 97px;
	background-color: white;
    font-size: 12px;
	height: 17px;
}
#con_tree
{
	background-color: white;
	position: absolute;
	border: 1px sandybrown dotted;
	z-index: 9999999;
	width: 140px;
	display: none;
     padding-left: 0px;
}
#con_tree li
{
	padding: 2px;
}
#qsgk_tree
{
	margin-left: 30px;
}
#btn_Query
{
	width: 140px;
	float:right;
	font-weight: bold;
}
#ul_list
{
    width: 99%;
	margin: 2px;
}

.li_resultlist
{
    background-color: #fff;
    color: #3b3b3b;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: block;
    margin: 2px 2px 2px 5px;
    overflow: hidden;
}
 .li_resultlist:hover
{
    background-color: #eee;
}

 .li_resultlist .img-info
{
    float: left;
    width: 32px;
    height: 35px;
    background-image: url(../images/yuye/bookmark.png);
    margin-left: 10px;
}
 .li_resultlist .img-info img
{
    width: 50px;
    height: 50px;
}
 .li_resultlist .basic-info
{
    margin-left: 52px;
    line-height: 17px;
}
#pag
{
	margin: 10px 0px;
    text-align: center;
}
#btn_return
{
	float: right;
    margin-right: 10px;
	display: none;
	width: 80px;
    height: 28px;
    color: black;
    font-weight: bold;
}
.float_menu {
    border-radius: 4px;
    position: absolute;
    left: 12px;
    top: 40px;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 1000;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.02) 0px -1px 0px;
}
.float_menu > span {
    margin-top: 11px;
    margin-left: 11px;
    width: 24px;
    height: 20px;
    display: block;
	background: url(../images/yuye/icon.png) no-repeat -5px -6px;
}
.gropbox {
    position: absolute;
    top: 40px;
    left: 56px;
    /* width: 500px; */
    z-index: 999;
    border-radius: 3px;
    background: rgba(255,255,255,.8);
}
.table_card {
    width:516px;
    margin: 0 auto;
    margin-top: 10px;
}
.table_card .tab {
    height: 27px;
    font-size: 14px;
    border-bottom: 1px #e1e1e1 solid;
}
.table_card .tab li {
    float: left;
    height: 27px;
    line-height: 27px;
    padding: 0 25px;
    margin-right: 2px;
    background: #f0f0f0;
    border-top: 1px #e1e1e1 solid;
    border-left: 1px #e1e1e1 solid;
    border-right: 1px #e1e1e1 solid;
}
.table_card .active {
    height: 27px !important;
    background: #fff !important;
    color: #333;
}
.close_x {
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../images/yuye/icon.png) -141px -10px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.table_card .tab li:hover {
    height: 27px;
    background: #fff;
    color: #333;
    cursor: pointer;
}
.table_card .tabCon {
    background: #fff;
    padding: 15px;
    border-bottom: 1px #e1e1e1 solid;
    border-left: 1px #e1e1e1 solid;
	border-right: 1px #e1e1e1 solid;
	margin-top: -10px;
}
#xq{
	display: none;
	height: 350px;
	overflow-y:auto;
}
